<ion-header>
  <ion-toolbar color="#222428">
    <ion-buttons slot ="start">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot ="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-left: 14px;">
    <span style="font-size:small; font-weight: lighter;">Portfolio balance</span>
    <h1 style="margin-top: 0%;"><strong>$107,098.52</strong></h1>
    <h4><strong>Watchlist</strong></h4>
  </div>
  <ion-card button="true" style="background-color:inherit;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="3">
            <ion-avatar>
              <ion-img src={{avatarUrl}}></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size-sm="3">
            <ion-card-title>
              {{titleName}}
            </ion-card-title>
            <ion-card-subtitle>
              ETH
            </ion-card-subtitle>
          </ion-col>
          <ion-col size-sm="3">
          </ion-col>
          <ion-col size-sm="3">
            <ion-card-title>
              $23,293.09
            </ion-card-title>
            <ion-card-subtitle style="color: green;">
              +3.49%
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
